.babus {
  font-family: 'Bebas Neue', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.open-sans.dark {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

body,
html {
  background-color: #F5F2F6;
}

.nav-link:hover {
  color: #7d2ae8;
}

.nav-link.link-active {
  color: #7d2ae8;
}

.nav-img {
  width: "350px";
}

.lt-sp-1 {
  letter-spacing: 3px;
}

.lt-sz-1 {
  font-size: large;
}

a {
  text-decoration: none;
  color: #7d2ae8;
}

.color-1 {
  color: #7d2ae8;
}

.bg-color-1 {
  background-color: #7d2ae8;
}

.heading-1 {
  font-size: 100px;
}

/* button nav */

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* button card  */
.btn-1 {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #7d2ae8;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.btn-1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #7d2ae8;
  transition: .5s ease;
}

.btn-1:hover {
  color: #7d2ae8;
  transition-delay: .5s;
}

.btn-1:hover::before {
  width: 100%;
}

.btn-1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #7d2ae8;
  transition: .4s ease;
  z-index: -1;
}

.btn-1:hover::after {
  height: 100%;
  transition-delay: 0.4s;

  color:btn-1 {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #7d2ae8;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }

  .btn-1::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #7d2ae8;
    transition: .5s ease;
  }

  .btn-1:hover {
    color: #7d2ae8;
    transition-delay: .5s;
  }

  .btn-1:hover::before {
    width: 100%;
  }

  .btn-1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #7d2ae8;
    transition: .4s ease;
    z-index: -1;
  }

  .btn-1:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: #7d2ae8;
  }

  ;
}

/* input  */

.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid #7d2ae8;
  font-size: 14px;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid #7d2ae8;
  box-shadow: -5px -5px 0px #7d2ae8;
}

.input-container:hover>.icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}


/* loader */


/* loader 1 */
.page-loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #7D2AE8;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.page-loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/* loader 2 */

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #7D2AE8;
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}


/* scrollbars */

.scroll-container {
  width: 100%;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
  border-bottom: 3px solid #c8b0e7;
  padding-top: 3px;
  padding-bottom: 10px;
}

.scroll-content {
  width: fit-content;
  display: inline-block;
}


.scroll-container span {
  cursor: pointer;
}

.scroll-container::-webkit-scrollbar {
  height: 10px;
  /* Specify the height of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Specify the background color of the scrollbar track */
}

.scroll-container::-webkit-scrollbar-thumb {
  display: none;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Specify the color of the scrollbar thumb when hovered */
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}